.bold {
	font-weight:bold;
	font-size: 20;
	color: #9d9d9d;
}	

/*
.select-wrapper__val::after{
    content: url('../images/unit-switcher.png');
    margin-left: 6px;
}
*/

/*
.removeBorder {
    outline: none;
}

.indent {
	text-align: right;
}*/
