<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active">
      <a href="/index">
      Overview
      <span class="sr-only">
      (current)
      </span>
      </a>
    </li>
    <li>
      <a href="/calcium">
      Calcium
      </a>
    </li>
    <li>
      <a href="bmi">
      BMI
      </a>
    </li>
    <li>
      <a href="/korperoberflache">
      Korperoberflache
      </a>
    </li>
    <li>
      <a href="/qtzeit">
      QT Zeit
      </a>
    </li>
    <li>
      <a href="/anionenluecke">
      Anion Gap
      </a>
    </li>
    <li>
      <a href="/bicarbonate">
      Bicarbonate
      </a>
    </li>
    <li>
      <a href="/views/wells_score.html">
      Wells Score
      </a>
    </li>
<!--      <li>
    <a href="/views/chads2_score.html">
      CHADS2 Score
      </a>
    </li>
    <li>
      <a href="/views/has_bled_score.html">
      HAS-BLED Score
      </a>
    </li>
    <li>
      <a href="/views/child_pugh_kriterien.html">
      Child-Pugh Score
      </a>
    </li>
    <li>
      <a href="/views/opioid.html">
      Opioid
      </a>
    </li>
    <li>
      <a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
      Kreatinin Clearance
      <span class="caret">
      </span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/views/mdrd.html">
          MDRD
          </a>
        </li>
        <li>
          <a href="/views/ckd.html">
          CKD-EPI
          </a>
        </li>
        <li>
          <a href="/views/counahan.html">
            Counahan
          </a>
        </li>
      </ul>
    </li> -->
    
  </ul>
</div>
