.vc_empty_space {
    height: 64px;
}


.blau p, .blau h1, .blau h2, .blau h3, .blau h4, .blau h5, .blau h6, .blau .h1, .blau .h2, .blau .h3, .blau .h4, .blau .h5, .blau .h6 {
    color: #80D0EB;
}

.wpb_wrapper h1, h2{

    text-align: center;
    
}

h1{
    font-weight: 400;
    font-family: Lato;
    font-size: 50px;
    line-height: 54px; 
}

h2{
    font-weight: 300;
    font-family: Lato;
    font-size: 30px;
    line-height: 34px;
}

p {
    font-weight: 300;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 24px;
}

.middle{
    text-align: center;
}



/*
Pre css changes for Amboss Design
*/
.bold {
	font-weight:bold;
	font-size: 20;
	color: #9d9d9d;
}	

.select-linked {
    visibility: hidden;
}

/*
.select-wrapper__val::after{
    content: url('../images/unit-switcher.png');
    margin-left: 6px;
}
*/

/*
.removeBorder {
    outline: none;
}

.indent {
	text-align: right;
}*/

