<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../images/favicon.ico">

	<title>Formulas Page</title>

	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../css/dashboard.css" rel="stylesheet">

	<link href="../css/formula.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    </head>

    <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Formula Page</a>
		</div>
		
	    </div>
	</nav>

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		    <ul class="nav nav-sidebar">
			<li><a href="../index.html">Overview <span class="sr-only">(current)</span></a></li>
			<li><a href="../views/calcium.html">Calcium</a></li>
			<li><a href="../views/bmi.html">BMI</a></li>
			<li><a href="../views/wells_score.html">Wells Score</a></li>
			<li><a href="../views/opioid.html">Opioid</a></li>
			<li><a href="../views/qtzeit.html">QT Zeit</a></li>
			<li><a href="../views/aniongap.html">Anion Gap</a></li>
			<li class="active"><a href="../views/bicarbonate.html">Bicarbonate</a></li>
			<li><a href="../views/chads2_score.html">CHADS2 Score</a></li>
			<li><a href="../views/has_bled_score.html">HAS-BLED Score</a></li>
			<li><a href="../views/child_pugh_kriterien.html">Child-Pugh Score</a></li>
			<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Kreatinin Clearance<span class="caret"></span></a>    
			    <ul class="dropdown-menu">
				<li><a href="../views/mdrd.html">MDRD</a></li>
				<li><a href="../views/ckd.html">CKD-EPI</a></li>
				<li><a href="../views/counahan.html">Counahan</a></li>
			    </ul>
			</li>		    </ul>
		    
		</div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		    <h1 class="page-header">Formulas</h1>
		    <div class="calculated-formulas">
			<h2>Bicarbonate</h2>
			<span class="formulas">
			    <form method="POST" id="bicarbonateFormula">
				<label for="Negative Base Deviation">Negative Base Deviation (-BE):</label> 
				<input type="text" id="BE-Input" placeholder="Norm: INFO NEEDED"><span class="bold">mmol/L</span><br>
				<label for="weight">Weight:</label> 
				<input type="text" id="weight-Input" placeholder="Norm: INFO NEEDED"><span class="bold">kg</span><br>
				
				
				<button id="btnCalc" >Berechnen</button>
				<button id="btnReset">Zurücksetzen</button><br>
				
				<label for="NaHCO">NaHCO<sub>3</sub></label>
				<input type="text" id="NaHCO"><span class="bold">mmol</span><br>
				
				<h3>Formula Used:</h3>
				<p><span class="bold">NaHCO<sub>3</sub> = -BE &times KG(kg) &divide 3</span></p>
				
			    </form>
			</span>	
		    </div>
		    
		</div>
	    </div>
	</div>

	<!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="../js/bootstrap.min.js"></script>

	<script type= "text/javascript" src="../js/formula_helper_script.js"></script>    
	<script type= "text/javascript" src="../js/formula_bicarbonate.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>


