<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../images/favicon.ico">

	<title>Formulas Page</title>

	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../css/dashboard.css" rel="stylesheet">

	<link href="../css/formula.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    </head>

    <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Formula Page</a>
		</div>
		
	    </div>
	</nav>

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		    <ul class="nav nav-sidebar">
			<li><a href="../index.html">Overview <span class="sr-only">(current)</span></a></li>
			<li><a href="../views/calcium.html">Calcium</a></li>
			<li><a href="../views/bmi.html">BMI</a></li>
			<li class="active"><a href="../views/wells_score.html">Wells Score</a></li>
		    </ul>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		    <h1 class="page-header">Formulas</h1>
		    <div class="calculated-formulas">
			<span class="formulas">
			    <form method="POST" id="wells_score">	
				<p>Aufgrund ihrer hohen diagnostischen Sensitivität ( > 98 % ) aber niedrigen Spezifität ( < 50 % ) eignet sich die D-Dimer-Bestimmung zum Ausschluss einer Thromboembolie. Die Ergebnisse sollten jedoch immer in Kombination mit der klinischen Wahrscheinlichkeit interpretiert werden. Die aktuellen interdisziplinären S2-Leitlininien für Venenthrombose und Lungenembolie empfehlen hierzu den sog. "Wells-Score".</p>
				<div class="table-responsive">
				    <table class="table table-striped">
					<thead>
					    <tr>
						<th>Symptome</th>
						<th>Punkte</th>
						<th>Symptome vorhanden</th>
					    </tr>
					</thead>
					<tbody>
					    <tr>
						<td>Q1: Klinische Zeichen oder Symptome einer tiefen Beinvenenthrombose (mindestens Schwellung eines Beines und Schmerzen bei der Palpation der tiefliegenden Venen</td>
						<td>3</td>
						<td><!--<input type="radio" name="formulaObj0" value="3" data-value-type="3">Ja<br>
							 <input type="radio" name="formulaObj0" value="0" data-value-type="0">Nein</td>-->
						    <input type="radio" name="formulaObj0" id="Q1 Yes" value="3">Ja<br>
						    <input type="radio" name="formulaObj0" id="Q1 No" value="0">Nein</td>
					    </tr>
					    <tr>
						<td>Q2: eine andere Diagose ist weniger wahrscheinlicher als eine Lungenembolie</td>
						<td>3</td>
						<td><input type="radio" name="formulaObj1" id="Q2 Yes" value="3" >Ja<br>
						    <input type="radio" name="formulaObj1" id="Q2 No" value="0" >Nein</td>
					    </tr>
					    <tr>
						<td>Q3: Herzfrequenz > 100</td>
						<td>1,5</td>
						<td><input type="radio" name="formulaObj2" id="Q3 Yes" value="1.5">Ja<br>
						    <input type="radio" name="formulaObj2" id="Q3 No" value="0"  >Nein</td>
					    </tr>
					    <tr>
						<td>Q4: Immobilisierung oder chirurgischer Eingriff in den vergangen vier Wochen</td>
						<td>1,5</td>
						<td><input type="radio" name="formulaObj3" id="Q4 Yes" value="1.5" >Ja<br>
						    <input type="radio" name="formulaObj3" id="Q4 No" value="0"   >Nein</td>
					    </tr>
					    <tr>
						<td>Q5: vorangegangene tiefe Beinvenenthrombose / Lungenembolie</td>
						<td>1,5</td>
						<td><input type="radio" name="formulaObj4" id="Q5 Yes" value="1.5" >Ja<br>
						    <input type="radio" name="formulaObj4" id="Q5 No" value="0"   >Nein</td>
					    </tr>
					    <tr>
						<td>Q6: Bluthusten</td>
						<td>1</td>
						<td><input type="radio" name="formulaObj5" id="Q6 Yes" value="1" >Ja<br>
						    <input type="radio" name="formulaObj5" id="Q6 No" value="0" >Nein</td>
					    </tr>
					    <tr>
						<td>Q7: Tumorerkrankung (unter Therapie, nach Therapie innerhalb der letzten 6 Monate oder Palliativtherapie)</td>
						<td>1</td>
						<td><input type="radio" name="formulaObj6" id="Q7 Yes" value="1" >Ja<br>
						    <input type="radio" name="formulaObj6" id="Q7 No" value="0" >Nein</td>
					    </tr>
					    <tr>
						<td><button id="btnCalc" >Berechnen</button>
						    <button id="btnReset">Zurücksetzen</button></td>
						<td></td>
						<td></td>
					    </tr>
					    <tr>
						<td>SCORE (Punktzahl):</td>
						<td><input type="text" name="formulaFinal" id="score"></td>
						<td></td>
					    </tr>
					    <tr>
						<!--  <td>INFO:</td> -->
						<!--  <td><span class="removeBorder" <input type="text" name="formulaFinal" id="scoreText"></td></span>  -->
						<td><p id="scoreText"></p></td>
						<td></td>
						<td></td>
					    </tr>
					</tbody>
				    </table>
				</div>
			    </form>
			</span>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="../js/bootstrap.min.js"></script>

	<script type= "text/javascript" src="../js/formula_helper_script.js"></script>
	<script type= "text/javascript" src="../js/formula_wells_score.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
