<% layout('../layouts/default') -%>

<% script('/js/formula_helper_script.js') -%>
<% script('/js/formula_bmi.js') -%>

<% stylesheet('/css/f2_main_style.css') -%>
<% stylesheet('/css/f2_calculator_style.css') -%>
<% stylesheet('/css/f2_infolist_style.css') -%>
<% stylesheet('/css/f2_table_style.css') -%>


<div class="calculated-formulas">
  <div class="f2_header f2_blue">
    <h1>Body Mass Index</h1>
  </div>
  <div class="f2_description">
    <p>Der <a target="_blank" href="https://amboss.miamed.de/library#xid=4g03v2&anker=2c31b3cd525846b235e9b49434ed3e3d">Body Mass Index</a> dient der Einschätzung des Ernährungsstatus von Erwachsenen und Kindern. Ein erhöhter BMI geht mit Risikofaktoren wie einer gestörten Glukosetoleranz und arterieller Hypertonie einher. Insbesondere bei Diabetes mellitus Typ II tritt eine Adipositas mit entsprechend erhöhtem BMI auf, wobei der Grad der Insulinresistenz mit steigendem BMI zunimmt. Auf der anderen Seite ist ein verminderter BMI eines der Kriterien bei der Diagnosestellung einer <a target="_blank" href="https://amboss.miamed.de/library#xid=GP0BTT&anker=517291eef659a01151544312add25d5e">Anorexia nervosa</a>.
    </p>
    <!--
	 <ul>
	 <li>BMI ≤ 26: ca. 0,3 IE/kg Körpergewicht als Tagesbedarf</li>
	 <li>BMI 26 &#8211 30: ca. 0,5 IE/kg Körpergewicht als Tagesbedarf</li>
	 <li>BMI > 30: ca. 0,7 IE/kg Körpergewicht als Tagesbedarf</li>
	 </ul>
       -->
    
  </div>
  <div class="f2_calculator">
    <div class="form-style-calculator">
      <form method="POST">
        <label for="Korpergewicht">Körpergewicht:</label>
        <input type="text" class="f2_koerpergewicht-input f2_js" placeholder="in kg">
        <label for="Korpergrosse">Körpergröße:</label>
        <input type="text" class="f2_koerpergrosse-input f2_js"  placeholder="in cm">
        <input type="button" class="f2_btn-calc f2_js"  value="Berechnen">
        <input type="button" class="f2_btn-reset f2_js" value="Zurücksetzen">
        <input type="text" class="f2_BMI-output f2_js" placeholder="BMI-Wert" readonly>
        <div class="form-style-calculator-footnotes">
          <h3>Verwendete Formel:<br>BMI = Gewicht[kg] &divide; Größe[m<sup>2</sup>]</h3>
        </div>
      </form>
    </div>
  </div>
  <table class="f2_table-fill">
    <thead>
      <tr>
        <th class="f2_text-left">Body-Mass-Index (BMI, Quetelet-Index)* in kg/m²</th>
        <th class="f2_text-left">Bezeichnung</th>
      </tr>
    </thead>
    <tbody class="f2_table-hover">
      <tr>
        <td class="f2_text-left">< 18,5</td>
        <td class="f2_text-left">Untergewicht</td>
      </tr>
      <tr>
        <td class="f2_text-left">18,5 &#8211 24,9</td>
        <td class="f2_text-left">Normalgewicht</td>
      </tr>
      <tr>
        <td class="f2_text-left">25 &#8211 29,9</td>
        <td class="f2_text-left">Präadipositas</td>
      </tr>
      <tr>
        <td class="f2_text-left">30 &#8211 34,9</td>
        <td class="f2_text-left">Adipositas Grad I</td>
      </tr>
      <tr>
        <td class="f2_text-left">35 &#8211 39,9</td>
        <td class="f2_text-left">Adipositas Grad II</td>
      </tr>
      <tr>
        <td class="f2_text-left">&#8805; 40</td>
        <td class="f2_text-left">Adipositas Grad III</td>
      </tr>
    </tbody>
  </table>
  <div class="f2_further-info f2_blue">
    <h3>Weiterführende Inhalte in AMBOSS</h3>
    <div class="new-list">
      <ul>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=4g03v2&anker=f43ed011e16750b58fb1874b1ce1a79b">Definition des metabolischen Syndroms</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=GP0BTT&anker=517291eef659a01151544312add25d5e">Anorexia nervosa: Diagnosestellung nach ICD-10</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=3g0SE2&anker=278d44ae2e7d363a91ffaf7e4ae5b85b">Diabetes mellitus Typ II - Therapieziele und Ernährung</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=3g0SE2&anker=c771e673a150570f1ad05cd7786fb3f3">Kohlenhydrateinheit vs. Broteinheit</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=3g0SE2&anker=d8b7421024aea702e219f2c98f054a15">Insulinkorrekturschema</a></li>
      </ul>
    </div>
  </div>
</div>
