<% layout('../layouts/default') -%>

<% script('/js/formula_helper_script.js') -%>
<% script('/js/formula_calcium.js') -%>

<% stylesheet('/css/f2_infolist_style.css') -%>
<% stylesheet('/css/f2_main_style.css') -%>
<% stylesheet('/css/f2_calculator_style.css') -%>

<div class="calculated-formulas">
  <div class="f2_header f2_blue">
    <h1>Calcium-Korrektur</h1>
  </div>
  <div class="f2_description">
    <p><a target="_blank" href="https://amboss.miamed.de/library#xid=lo0vXS&anker=a9640cedc7af6a21a83e8aebc743e462">Calcium</a> liegt im <a target="_blank" href="https://amboss.miamed.de/library#xid=LK0wSS&anker=b8d91980732a97ce3e38aab720d3935b">Blut</a> etwa zur Hälfte als freies, sog. ionisiertes Calcium und zur Hälfte v.a. an <a target="_blank" href="https://amboss.miamed.de/library#xid=Ln0wFg&anker=ebe5ae7c9810fa43ef86b9c558d30eb7">Albumin</a> gebunden vor. Das sich aus diesen Fraktionen ergebende Gesamtcalcium ist in der Routinediagnostik einfacher zu bestimmen als das ionisierte Calcium. Letzteres ist allerdings die biologisch aktive Form des Calciums und diagnostisch entscheidend. Kann nur das Gesamtcalcium und nicht das ionisierte Calcium bestimmt werden, bezieht man den Wert für das Gesamtcalcium meist auf die gemessene Albuminkonzentration. Ergibt sich nach Albumin-Korrektur weiterhin ein Gesamtcalciumgehalt, der vom Normbereich abweicht, ist auch das ionisierte Calcium vermindert (<a target="_blank" href="https://amboss.miamed.de/library#xid=lo0vXS&anker=a9640cedc7af6a21a83e8aebc743e462">Hypocalcämie</a>), bzw. erhöht (<a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=5849bd4200648a462206172213221b8a">Hypercalcämie</a>).
    </p>
  </div>
  <div class="f2_calculator">
    <div class="form-style-calculator">
      <form method="POST">
        <label for="calcium">Calcium [Serum]:</label>
        <input type="text" class="f2_calcium-input f2_js" placeholder=" Norm: 2,20 &#8211 2,65 mmol/L">
        <select class="f2_select-calcium-units f2_js">
          <option selected value="mmol">mmol/L</option>
          <option value="mg">mg/dL</option>
        </select>
        <label for="albumin">Albumin [Serum]:</label>
        <input type="text" class="f2_albumin-input f2_js" placeholder=" Norm: 35 &#8211 50 g/L">
        <select class="f2_select-albumin-units f2_js">
          <option selected value="L">g/L</option>
          <option value="dL">g/dL</option>
        </select>
        <input type="button" class="f2_btn-calc f2_js"  value="Berechnen">
        <input type="button" class="f2_btn-reset f2_js" value="Zurücksetzen">
        <input type="text" class="f2_calcium-output f2_js" placeholder="Korrigiertes Calcium">
        <strong>
          <p class="f2_norm-values f2_js"></p>
        </strong>
        <div class="form-style-calculator-footnotes">
          <h3>Verwendete Formel:<br>Calcium<sub>korrigiert</sub> [mmol/l] = Calcium<sub>gemessen</sub> [mmol/l] – (0,025 x Albumin [g/l]) + 1</h3>
        </div>
      </form>
    </div>
  </div>
  <div class="f2_further-info f2_blue">
    <h3>Weiterführende Inhalte in AMBOSS</h3>
    <div class="new-list">
      <ul>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=444cd2ab2a8811111a389f1083fbf1f8">Basislabor bei allen Calciumstörungen</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=b5ad7b3915a89f2d4cee16f14b3b11cb">Weitere Abklärung der Hypocalcämie</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=ca6d8eda717a2f3475146a1360fc5d7d">Weitere Abklärung der Hypercalcämie</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=22123cb36dd9abe9e849e613f9de3bcc">Therapie der Hypercalcämie</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=e993964fd8373930b76048895f315218">Therapie der Hypocalcämie</a></li>
        <li><a target="_blank" href="https://amboss.miamed.de/library#xid=Hg0K92&anker=68dd6d922bc89c83d78314c903feab62">Calciumhaushalt - Pathophysiologische Grundlagen</a></li>
      </ul>
    </div>
  </div>
</div>

