<% layout('../layouts/default') -%>

<% script('/js/formula_helper_script.js') -%>
<% script('/js/formula_qtzeit.js') -%>

<% stylesheet('/css/f2_infolist_style.css') -%>
<% stylesheet('/css/f2_main_style.css') -%>
<% stylesheet('/css/f2_calculator_style.css') -%>

<div class="calculated-formulas">
  <div class="f2_header f2_blue">
    <h1>Korrigierte QT-Zeit</h1>
  </div>
  <div class="f2_description">
    <p> Die <a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=a00348da6af6e09d870c4b7b87cd909a">QT-Zeit</a> repraesentiert die gesamte intraventrikulaere Erregungsdauer. Gemessen wird vom Anfang der <a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=71cdbb8bd9e6b168e2cb12609c84f2ca">Q-Zacke</a> (Bzw. bei fehlender Q-Zacke vom Beginn der R-Zacke) bis zum Ende der <a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=eae5d5b1c1170711d105f12b2f2929a0">T-Welle</a>. Die QT-Zeit ist abhaengig von der <a target="_blank" href="https://amboss.miamed.de/library#xid=xL0E-g&anker=abfa288f6e086992deb03ef886328e48">Herzfrequenz</a>, sodass eine Frequenzkorrektur erforderlich ist. Verlängerungen der <a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=a00348da6af6e09d870c4b7b87cd909a">QT-Zeit</a> prädisponieren zur Ausbildung von <a target="_blank" href="https://amboss.miamed.de/library#xid=7S04af&anker=9716c9020d961a88545333e8e097ed16">Herzrhythmusstörungen</a> wie <a target="_blank" href="https://amboss.miamed.de/library#xid=ES08Yf&anker=373e6f9139c2a7cfb38bb47a14e4964e">Torsades de pointes</a> und ventrikulärer Tachykardie.</p>
  </div>
  <div class="f2_calculator">
    <div class="form-style-calculator">
      <form method="POST">
	<label for="QT">Gemessene QT-Zeit:</label>
	<input type="text" class="f2_qt-input f2_js" placeholder="in ms">
	<select class="f2_select-qt-units f2_js">
	  <option selected value="ms">ms</option>
	  <option value="50_mm">mm (Papiervorschub von 50 mm)</option>
	  <option value="25_mm">mm (Papiervorschub von 25 mm)</option>
	</select>
	<label for="Freq">Gemessene Herzfrequenz:</label>
	<input type="text" class="f2_freq-input f2_js"  placeholder="in Hz">
	<input type="button" class="f2_btn-calc f2_js"  value="Berechnen">
	<input type="button" class="f2_btn-reset f2_js" value="Zurücksetzen">
	<input type="text" class="f2_qt-output f2_js" placeholder="Korrigierte QT-Zeit">
	<strong>
	  <p class="f2_norm-values f2_js"></p>
	</strong>
	<div class="form-style-calculator-footnotes f2_formula_image">
	  <h3>Verwendete Formel:<br>Bazett &#8212 Formel</h3>
	  <img src="/images/bazett2_resize.jpg" >
	</div>
      </form>
    </div>
  </div>
  <div class="f2_further-info f2_blue">
    <h3>Weiterführende Inhalte in AMBOSS</h3>
    <div class="new-list">
      <ul>
	<li><a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=2203bf123705f0cc439a6117ea4d5ce1">Diagnostische Kriterien einer verlängerten QT-Zeit</a></li>
	<li><a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=28be77ca323dc20478487ee76dd09f5b">Risikokonstellationen einer verlängerten QT-Zeit</a></li>
	<li><a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=6dadf4256cf9817f811d81235332ea9d">Patienten-Risikogruppen für QT-Zeit-Verlängerungen</a></li>
	<li><a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=346c6186523bae69c4a71c5e86a0abdd">Prävention einer verlängerten QT-Zeit</a></li>
	<li><a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=31df65190f80270d694d52b862214f17">QT-Zeit verlängernde Medikamente</a></li>
	<li><a target="_blank" href="https://amboss.miamed.de/library#xid=pl0LBT&anker=a5a388a38e37e025d9319bad46f0e349">Wie befunde ich ein EKG?</a></li>
      </ul>
    </div>
  </div>
</div>
