<div class="calculated-formulas">
	<div class="f2_header f2_blue">
		<h1>Wells Score</h1>
	</div>
	<div class="f2_description">
		<p>Aufgrund ihrer hohen diagnostischen Sensitivität ( > 98 % ) aber niedrigen Spezifit? ( < 50 % ) eignet sich die D-Dimer-Bestimmung zum Ausschluss einer Thromboembolie. Die Ergebnisse sollten jedoch immer in Kombination mit der klinischen Wahrscheinlichkeit interpretiert werden. Die aktuellen interdisziplin?en S2-Leitlininien f?r Venenthrombose und Lungenembolie empfehlen hierzu den sog. "Wells-Score".</p>
	</div>
	<div class="f2_calculator">
		<div class="form-style-calculator form-style-score-width">
			<form method="POST">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Symptome</th>
								<th>Symptome vorhanden</th>
								<th>Punkte</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Q1: Klinische Zeichen oder Symptome einer tiefen Beinvenenthrombose (mindestens Schwellung eines Beines und Schmerzen bei der Palpation der tiefliegenden Venen</td>
								<td>
									<div><input type="radio" name="klinische-zeichen" id="klinische-zeichen-yes" value="3"   class="f2_with-check-font"><label for="klinische-zeichen-yes">Ja</label><br></div>
									<div><input type="radio" name="klinische-zeichen" id="klinische-zeichen-no" value="0"    class="f2_with-check-font"> <label for="klinische-zeichen-no">Nein</label><br></div>
								</td>
								<td>3</td>
							</tr>
							<tr>
								<td>Q2: eine andere Diagose ist weniger wahrscheinlicher als eine Lungenembolie</td>
								<td>
									<div><input type="radio" name="lungenembolie" id="lungenembolie-yes" value="3" class="f2_with-check-font"><label for="lungenembolie-yes">Ja</label><br></div>
									<div><input type="radio" name="lungenembolie" id="lungenembolie-no" value="0"  class="f2_with-check-font"><label for="lungenembolie-no">Nein</label><br></div>
								</td>
								<td>3</td>
							</tr>
							<tr>
								<td>Q3: Herzfrequenz > 100</td>
								<td><div><input type="radio" name="herzfrequenz" id="herzfrequenz-yes" value="1.5" class="f2_with-check-font"><label for="herzfrequenz-yes">Ja</label><br></div>
									<div><input type="radio" name="herzfrequenz" id="herzfrequenz-no" value="0"    class="f2_with-check-font"><label for="herzfrequenz-no">Nein</label><br></div>
								</td>
								<td>1,5</td>
							</tr>
							<tr>
								<td>Q4: Immobilisierung oder chirurgischer Eingriff in den vergangen vier Wochen</td>
								<td><div><input type="radio" name="immobilisierung" id="immobilisierung-yes" value="1.5" class="f2_with-check-font"><label for="immobilisierung-yes">Ja</label><br></div>
									<div><input type="radio" name="immobilisierung" id="immobilisierung-no" value="0"   class="f2_with-check-font"> <label for="immobilisierung-no">Nein</label><br></div>
								</td>
								<td>1,5</td>
							</tr>
							<tr>
								<td>Q5: vorangegangene tiefe Beinvenenthrombose / Lungenembolie</td>
								<td><div><input type="radio" name="beinvenenthrombose" id="beinvenenthrombose-yes" value="1.5" class="f2_with-check-font"><label for="beinvenenthrombose-yes">Ja</label><br></div>
									<div><input type="radio" name="beinvenenthrombose" id="beinvenenthrombose-no" value="0"	 class="f2_with-check-font"> <label for="beinvenenthrombose-no">Nein</label><br></div>
								</td>
								<td>1,5</td>
							</tr>
							<tr>
								<td>Q6: Bluthusten</td>
								<td><div><input type="radio" name="bluthusten" id="bluthusten-yes" value="1" class="f2_with-check-font"><label for="bluthusten-yes">Ja</label><br></div>
									<div><input type="radio" name="bluthusten" id="bluthusten-no" value="0" class="f2_with-check-font">	<label for="bluthusten-no">Nein</label><br></div>						
								</td>
								<td>1</td>
							</tr>
							<tr>
								<td>Q7: Tumorerkrankung (unter Therapie, nach Therapie innerhalb der letzten 6 Monate oder Palliativtherapie)</td>
								<td><div><input type="radio" name="tumorerkrankung" id="tumorerkrankung-yes" value="1" class="f2_with-check-font"><label for="tumorerkrankung-yes">Ja</label><br></div>
									<div><input type="radio" name="tumorerkrankung" id="tumorerkrankung-no" value="0" class="f2_with-check-font"> <label for="tumorerkrankung-no">Nein</label><br></div>
								</td>
								<td>1</td>
							</tr>
							<tr>
								<td>
								  <input type="button" class="f2_btn-calc f2_js"  value="Berechnen">
       						<input type="button" class="f2_btn-reset f2_js" value="Zurücksetzen">
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>SCORE (Punktzahl):</td>
								<td><input type="text" class="f2_wells-score-output f2_js" readonly></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<strong>
					         <p class="f2_output-text f2_js"></p>
									</strong>
								</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
	<div class="f2_further-info f2_blue">
		<h3>Weiterführende Inhalte in AMBOSS</h3>
		<div class="new-list">
			<ul>
				<li><a target="_blank" href="">KENAN</a></li>
				<li><a target="_blank" href="">KENAN</a></li>
				<li><a target="_blank" href="">KENAN</a></li>
				<li><a target="_blank" href="">KENAN</a></li>
			</ul>
		</div>
	</div>
</div>
