/* CSS styling for formula calculators like calcium and aniongap */

.form-style-8-score-width{
        width: 900px;
}

.form-style-8-calculator{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    background: #FFFFFF;
    width: 350px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8-calculator h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #797979;
    font-size: 24px;
    font-weight: 100;
    padding: 0px;
    margin: 10px -10px 10px -10px;
}

.form-style-8-calculator-footnotes{
    background-color: #4D4D4D;
    padding: 0;
    margin: 0px -10px -20px -10px;
}

.form-style-8-calculator h3{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 100;
    padding: 10px;
    text-align:left;
    line-height: 18px;
    letter-spacing: 1px;
}

.form-style-8-calculator input[type="text"],
.form-style-8-calculator input[type="date"],
.form-style-8-calculator input[type="datetime"],
.form-style-8-calculator input[type="email"],
.form-style-8-calculator input[type="number"],
.form-style-8-calculator input[type="search"],
.form-style-8-calculator input[type="time"],
.form-style-8-calculator input[type="url"],
.form-style-8-calculator input[type="password"],
.form-style-8-calculator textarea,
.form-style-8-calculator select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-top: -5px;
    margin-bottom: 0px;
    font: 14px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8-calculator textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8-calculator input[type="button"], 
.form-style-8-calculator input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #68bfd3;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
/*    font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-style-8-calculator input[type="button"]:hover, 
.form-style-8-calculator input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}



