<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../images/favicon.ico">

	<title>Formulas Page</title>

	<!-- Bootstrap core CSS -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../css/dashboard.css" rel="stylesheet">

	<link href="../css/formula.css" rel="stylesheet">

	<script src="https://use.fontawesome.com/d56fb39642.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet" type='text/css'>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    </head>

    <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Formula Page</a>
		</div>
		
	    </div>
	</nav>

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		    <ul class="nav nav-sidebar">
			<li><a href="../index.html">Overview <span class="sr-only">(current)</span></a></li>
			<li><a href="../views/calcium.html">Calcium</a></li>
			<li><a href="../views/bmi.html">BMI</a></li>
			<li class="active"><a href="../views/wells_score.html">Wells Score</a></li>
			<li><a href="../views/opioid.html">Opioid</a></li>
			<li><a href="../views/qtzeit.html">QT Zeit</a></li>
			<li><a href="../views/aniongap.html">Anion Gap</a></li>
			<li><a href="../views/bicarbonate.html">Bicarbonate</a></li>
			<li><a href="../views/chads2_score.html">CHADS2 Score</a></li>
			<li><a href="../views/has_bled_score.html">HAS-BLED Score</a></li>
			<li><a href="../views/child_pugh_kriterien.html">Child-Pugh Score</a></li>

			<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Kreatinin Clearance<span class="caret"></span></a>    
			    <ul class="dropdown-menu">
				<li><a href="../views/mdrd.html">MDRD</a></li>
				<li><a href="../views/ckd.html">CKD-EPI</a></li>
				<li><a href="../views/counahan.html">Counahan</a></li>
			    </ul>
			</li>
			<li><a href="../views/aciclovir.html">Aciclovir Ratiopharm</a></li>

		    </ul>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		    <div class="calculated-formulas">
			<div class="f2_header f2_blue">
			    <h1>Wells Score</h1>
			</div>
			<div class="f2_description">
			    <p>Aufgrund ihrer hohen diagnostischen Sensitivität ( > 98 % ) aber niedrigen Spezifität ( < 50 % ) eignet sich die D-Dimer-Bestimmung zum Ausschluss einer Thromboembolie. Die Ergebnisse sollten jedoch immer in Kombination mit der klinischen Wahrscheinlichkeit interpretiert werden. Die aktuellen interdisziplinären S2-Leitlininien für Venenthrombose und Lungenembolie empfehlen hierzu den sog. "Wells-Score".</p>
			</div>


			

				<div class="f2_calculator">
				    <div class="form-style-8-calculator form-style-8-score-width">
					<form method="POST">
					    <div class="table-responsive">
					    <table class="table table-striped">
						<thead>
						    <tr>
							<th>Symptome</th>
							<th>Symptome vorhanden</th>
							<th>Punkte</th>
						    </tr>
						</thead>
						<tbody>
						    <tr>
							<td>Q1: Klinische Zeichen oder Symptome einer tiefen Beinvenenthrombose (mindestens Schwellung eines Beines und Schmerzen bei der Palpation der tiefliegenden Venen</td>
							<td><input type="radio" name="Klinische-Zeichen" id="Klinische-Zeichen-Yes" value="3"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
							    <br>
							    <input type="radio" name="Klinische-Zeichen" id="Klinische-Zeichen-No" value="0"><i class="fa fa-times" aria-hidden="true"></i>
							</td>
							<td>3</td>
						    </tr>
						    <tr>
							<td>Q2: eine andere Diagose ist weniger wahrscheinlicher als eine Lungenembolie</td>
							<td><input type="radio" name="Lungenembolie" id="Lungenembolie-Yes" value="3"><label for="Lungenembolie-Yes">Ja</label><br>
							    <input type="radio" name="Lungenembolie" id="Lungenembolie-No" value="0">Nein</td>
						        <td>3</td>
						    </tr>
						    <tr>
							<td>Q3: Herzfrequenz > 100</td>
							<td><input type="radio" name="Herzfrequenz" id="Herzfrequenz-Yes" value="1.5">Ja<br>
							    <input type="radio" name="Herzfrequenz" id="Herzfrequenz-No" value="0"  >Nein</td>
							<td>1,5</td>
						    </tr>
						    <tr>
							<td>Q4: Immobilisierung oder chirurgischer Eingriff in den vergangen vier Wochen</td>
							<td><input type="radio" name="Immobilisierung" id="Immobilisierung-Yes" value="1.5" >Ja<br>
							    <input type="radio" name="Immobilisierung" id="Immobilisierung-No" value="0"   >Nein</td>
						    <td>1,5</td>
						    </tr>
						    <tr>
							<td>Q5: vorangegangene tiefe Beinvenenthrombose / Lungenembolie</td>
							<td><input type="radio" name="Beinvenenthrombose" id="Beinvenenthrombose-Yes" value="1.5" >Ja<br>
							    <input type="radio" name="Beinvenenthrombose" id="Beinvenenthrombose-No" value="0"	 >Nein</td>
							    <td>1,5</td>
						    </tr>
						    <tr>
							<td>Q6: Bluthusten</td>
							<td><input type="radio" name="Bluthusten" id="Bluthusten-Yes" value="1" >Ja<br>
							    <input type="radio" name="Bluthusten" id="Bluthusten-No" value="0" >Nein</td>
							    <td>1</td>							   
						    </tr>
						    <tr>
							<td>Q7: Tumorerkrankung (unter Therapie, nach Therapie innerhalb der letzten 6 Monate oder Palliativtherapie)</td>
							<td><input type="radio" name="Tumorerkrankung" id="Tumorerkrankung-Yes" value="1" >Ja<br>
							    <input type="radio" name="Tumorerkrankung" id="Tumorerkrankung-No" value="0" >Nein</td>
							<td>1</td>
						    </tr>
						    <tr>
							<td><input type="button" id="btnCalc" value="Berechnen">
							    <input type="button" id="btnReset" value="Zurücksetzen"><br></td>
						<td></td>
						<td></td>
					    </tr>
					    <tr>
						<td>SCORE (Punktzahl):</td>
						<td><input type="text" id="Final-Score"></td>
						<td></td>
					    </tr>
					    <tr>
						<td><p id="Final-Score-Text"></p></td>
						<td></td>
						<td></td>
					    </tr>
					</tbody>
				    </table>
					    </div>
					</form>
				    </div>
				</div>
	    </div>
		</div>
	    </div>
	</div>
    
	<!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="../js/bootstrap.min.js"></script>

	<script type= "text/javascript" src="../js/formula_helper_script.js"></script>
	<script type= "text/javascript" src="../js/formula_wells_score.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
